@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
input {
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: none; 
}
button {
  outline: none;
  font-family: "Open Sans", sans-serif;
  border: none;
  background-color: red;
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
  color: red;
}
.redText {
  color: red;
}
