@use "../scss/partial";

.cta {
  @include partial.flex($justify: center, $dir: row-reverse, $gap: 2rem);
  .image {
    width: 50%;
  }
  img {
    height: 100%;
    width: 100%;
  }
  height: max-content;
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
    margin-top: 1.7rem;
  }
  .card-cta {
    width: 50%;
    text-align: left;
    padding-left: 3rem;
    // @include partial.flex($dir: column);
    .card-content {
      // @include partial.flex($dir: column, $gap: 2rem);
      padding: 2rem;
    }
  }
  button {
    font-size: 1.75rem;
    margin-top: 1.7rem;
  }
}

@media screen and (max-width: 760px) {
  .cta {
    @include partial.flex($dir: column, $justify: center);
    .card-cta {
      width: 100%;
      padding-left: 1rem;
    }
    .image {
      width: 100%;
    }
  }
}
