@use "../scss/partial";

.cta {
  @include partial.flex($justify: center, $dir: row-reverse, $gap: 2rem);
  .image {
    width: 50%;
    background-image: url("https://res.cloudinary.com/dzqaqbrng/image/upload/v1684784762/linkedin-sales-solutions-1LyBcHr_cs8msi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 42rem;
  }
  // img {
  //   height: 100%;
  //   object-fit: cover;
  //   width: 100%;
  // }
  height: max-content;
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
    margin-top: 1.7rem;
  }
  .card-cta {
    width: 50%;
    text-align: left;
    padding-left: 3rem;
    // @include partial.flex($dir: column);
    .card-content {
      // @include partial.flex($dir: column, $gap: 2rem);
      padding: 2rem;
    }
  }
  button {
    font-size: 1.75rem;
    margin-top: 1.7rem;
  }
}

@media screen and (max-width: 900px) {
  .cta {
    @include partial.flex($dir: column, $justify: center);
    .card-cta {
      width: 100%;
      padding-left: 1rem;
    }
    .image {
      width: 100%;
      height: 40rem;
    }
  }
}
