@use "../scss/partial";

.services {
  margin: 3rem 0;
  text-align: center;
  h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  .services-block {
    @include partial.flex($gap: 2rem, $justify: space-around);
    flex-wrap: wrap;
    margin-top: 3rem;
    padding: 1.5rem;
    .service {
      text-align: center;
      @include partial.flex($dir: column);
      width: 30%;
      padding: 1rem 0;
      p {
        font-size: 1.8rem;
        padding: 1.5rem 0.5rem;
        line-height: 1.5;
        // height: 50%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .services {
    .services-block {
      .service {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .services {
    .services-block {
      @include partial.flex($dir: column, $gap: 1.5rem);

      .service {
        width: 100%;
        p {
          font-size: 1.7rem;
        }
      }
    }
  }
}
